
{{ define "main" }}
<nav>
  <ul class="pager">
    <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Back home</a></li>

  </ul>
</nav>
<div class="post" style="padding-bottom: 50px;">
  <div >
    <h1 ><a title="Permanent Link to {{ .Title }}." href="{{.RelPermalink}}" rel="bookmark">{{ .Title }}</a> <br /><small>Posted on {{.Date.Format "Jan 2, 2006" }}</small></h1>
  </div>
  <div class="postcontent">
    {{ .Content }}
  </div>
</div>

<hr>


{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>See Also</h3>
<ul>
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <small>published on {{.Date.Format "Jan 2, 2006" }}</small></li>
  {{ end }}
</ul>
{{ end }}

<hr>

<nav>
  <ul class="pager">
  {{ if .Prev }}
    <li class="previous"><a href="{{ .Prev.RelPermalink }}" title="Previous: {{ .Prev.Title }}"><span aria-hidden="true">&larr;</span> Previous entry </a></li>
  {{ end }}
  {{ if .Next }}
    <li class="next"><a href="{{ .Next.RelPermalink }}" title="Next: {{ .Next.Title }}">Next entry <span aria-hidden="true">&rarr;</span></a></li>
  {{ end }}
  </ul>
</nav>
{{ end }}