<footer class="footer">
    <br />
    <hr>

    <p class="text-muted small">
        <b><i class="fa {{.Site.Params.Icon}}" aria-hidden="true"></i> {{ .Site.Title }}</b>. 
    This is clearly a parody. It is clearly for fun. If you do not have a sense of humor, please email us. Copyright &copy; {{ now.Format "2006" }} {{ .Site.Params.Name }} &middot; Contact <a
        href="mailto:{{.Site.Params.email}}" rel="me">{{ .Site.Params.name }}</a></p>    
        <!--  &middot; Generated @ {{ now.Format "Jan 2, 2006" }} -->
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70650-50"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.Site.Params.ga_id}}');
</script>
