<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avgBitRate</key>
	<integer>966663</integer>
	<key>iframe_MaxBitRate</key>
	<integer>125165</integer>
	<key>iframe_avgBitRate</key>
	<integer>94707</integer>
	<key>maxBitRate</key>
	<integer>1448954</integer>
	<key>videoCodecInfo</key>
	<string>avc1.64002a</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>1080</real>
		<key>Width</key>
		<real>1920</real>
	</dict>
	<key>videoFrameRate</key>
	<string>60.000</string>
	<key>videoRange</key>
	<string>SDR</string>
</dict>
</plist>
