<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avgBitRate</key>
	<integer>1870871</integer>
	<key>iframe_MaxBitRate</key>
	<integer>232652</integer>
	<key>iframe_avgBitRate</key>
	<integer>77069</integer>
	<key>maxBitRate</key>
	<integer>2617542</integer>
	<key>videoCodecInfo</key>
	<string>avc1.640028</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>1920</real>
		<key>Width</key>
		<real>1080</real>
	</dict>
	<key>videoRange</key>
	<string>SDR</string>
</dict>
</plist>
